$white: #fff;
$black: #000;
$background: #f2f2f2;
$primary: #007bff;
$primaryLight: #1085ff;
$primaryLighter: #3a99fc;
$primaryDark: #0059b6;
$primaryDarker: #00448b;
$danger: #c53030;
$success: "#2e656a";
$info: "#3172b7";
$warning: "#FFB236";
$disabled: "#d9d9d9";
$disabledText: "#999999";
